header {
    background-color: #003366; 
    color: white; 
    padding: 15px 20px; 
    box-sizing: border-box;
    z-index: 1000; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-family: Arial, sans-serif; 
}

header .navbar-title {
    font-size: 24px;
    font-weight: bold;
}

header .navbar-right {
    font-size: 16px;
    text-align: right;
}


body {
    padding-top: 60px; 
    text-align: justify; 
}


p {
    text-align: justify; 
    margin-bottom: 1.5em; 
    font-size: 16px;
    line-height: 1.6; 
}


h1, h2, h3 {
    font-size: 20px;
    font-weight: bold;
    color: #003366; 
    margin-bottom: 15px;
    text-align: justify; 
}
